body{
    background-image: linear-gradient(
        to left,
        rgb(75, 65, 65),
        rgb(0, 0, 0) 70% 
    );
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    width: 97vw;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 600px;
    width: 400px;
    box-shadow: 0 0 10px black;
    border-radius: 20px;
    background-color: rgb(144, 173, 253);
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    font: bold 2.5rem serif;
    border-bottom: solid 5px rgb(0, 0, 0);
    margin-bottom: 20px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    height: 50px;
}

.input input{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    outline: 0;
    font: bold 1.5rem serif;
    text-align: center;
}

.input label{
    font: bold 1.5rem serif;
}

button{
    width: 300px;
    height: 40px;
    font: bold 1.2rem serif;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.result{
    display: flex;
    align-items: center;
    width: 300px;
    height: 150px;
    margin-top: 20px;
    border-radius: 5px;
    font: italic 1.5rem serif;
    box-shadow: 0 0 10px black;
    background: black;
    color: white;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}